/* ARTICLE */
.article{
	display: block;
}

.article .container1{
	background-color: rgba(255,255,255,0.5);
	padding: 30px;
	border-radius: 10px;
	font-size: 18px;
	font-family: NarrowSansRegular;
}

.article img{
	margin: 20px;
	border: 2px dashed #ddd;
}