#main-header{
	height: 260px;
	background:url(../img/header/header-bg.png) no-repeat 50% 0;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 3px 4px 5px rgba(54,123,31,.5);
}

.logo-box {
	display: block;
	float: left;
	margin-left:140px;
	margin-top:30px;
	text-align:center;
	width:400px;
	color:#fff;
}
.logo-box p {
	margin-bottom:24px;
}
.logo-box h2 {
	font-size:28px;
	font-family: NarrowSansRegular;
	line-height:1.2em;
	color:#fff;
	margin-bottom:22px;
}

.button:hover{
	background: url("../img/header/button-active.jpg") no-repeat 0 0;
}

.button {
	display:inline-block;
	width:145px;
	height:40px; 
	line-height:36px;
	font-size:17px;
	color:#fff;
	background: url("../img/header/button.jpg") no-repeat 0 0;
	text-decoration:none;
} 

.alarm-clocks {
	display:block;
	float: right;
	margin-right: 50px;
	margin-top:10px;
	width: 300px;
}

h1#title {
	font-family: NarrowSansBold;
	font-size:36px;
	line-height:1.2em;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:4px;
}

h1 a {
	text-decoration:none;
	color:#fff;
}

h1 strong {
	font-weight:500;
}

.header-menu{
	display: block;
	float: left;
	padding: 10px;
	margin-top: 70px;
	background-color: green;
	width: 240px;
	border-radius: 10px;
	border: 1px solid darkgreen;
}

#top-menu{
	display: block;
	padding: 0;
	margin: 0;	
	width: 100%;
}

#top-menu li{
	display: block;
}

#top-menu li a:hover{
	background-image: url(../img/header/menu_element_bg_hover.png);
	color: gold;
}

#top-menu li a{
	display: block;
	background-image: url(../img/header/menu_element_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	border: 1px solid #000;
	font-family: NarrowSansBold;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 8px;
	text-align: center;
}